[project]
	description = Secure HSM implementation based on MirageOS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sven Anderson (ansiwen)
[access "refs/for/refs/*"]
	read = group user/Sven Anderson (ansiwen)
	push = group user/Sven Anderson (ansiwen)
	label-Code-Review = -2..+2 group user/Sven Anderson (ansiwen)
	label-Verified = -1..+1 group user/Sven Anderson (ansiwen)
	rebase = group user/Sven Anderson (ansiwen)
	removeReviewer = group user/Sven Anderson (ansiwen)
	submit = group user/Sven Anderson (ansiwen)
[access "refs/heads/*"]
	read = group user/Sven Anderson (ansiwen)
	create = group user/Sven Anderson (ansiwen)
	push = +force group user/Sven Anderson (ansiwen)
	pushMerge = group user/Sven Anderson (ansiwen)
[access "refs/tags/*"]
	push = +force group user/Sven Anderson (ansiwen)
	pushTag = group user/Sven Anderson (ansiwen)
	pushSignedTag = group user/Sven Anderson (ansiwen)
